[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "ctrlp-vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git

